/*
    This file contains a palette of style properties for the AdviceGenerator component
*/

$backgroundColor: hsl(217, 19%, 24%);
$cardColor: hsl(217, 19%, 38%);
$adviceAndButtonColor: hsl(150, 100%, 66%);
$textColor: hsl(193, 38%, 86%);
$font: 'Manrope', sans-serif;
$fontSize: 28px;
$adviceWeight: 800;